/*!
 * mat-css v 0.0.1
 * Copyright 2017-2018
 * Author:; soumyo
 */

@import url('mat-color.css');
@import url('normalize.css');
@import url('boot-col.css');

@font-face {
  font-family: "Roboto";
  src: local(Roboto Thin), url("../fonts/roboto/Roboto-Thin.eot");
  src: url("../fonts/roboto/Roboto-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto/Roboto-Thin.woff2") format("woff2"), url("../fonts/roboto/Roboto-Thin.woff") format("woff"), url("../fonts/roboto/Roboto-Thin.ttf") format("truetype");
  font-weight: 200;
}

@font-face {
  font-family: "Roboto";
  src: local(Roboto Light), url("../fonts/roboto/Roboto-Light.eot");
  src: url("../fonts/roboto/Roboto-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto/Roboto-Light.woff2") format("woff2"), url("../fonts/roboto/Roboto-Light.woff") format("woff"), url("../fonts/roboto/Roboto-Light.ttf") format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: "Roboto";
  src: local(Roboto Regular), url("../fonts/roboto/Roboto-Regular.eot");
  src: url("../fonts/roboto/Roboto-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto/Roboto-Regular.woff2") format("woff2"), url("../fonts/roboto/Roboto-Regular.woff") format("woff"), url("../fonts/roboto/Roboto-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto/Roboto-Medium.eot");
  src: url("../fonts/roboto/Roboto-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto/Roboto-Medium.woff2") format("woff2"), url("../fonts/roboto/Roboto-Medium.woff") format("woff"), url("../fonts/roboto/Roboto-Medium.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto/Roboto-Bold.eot");
  src: url("../fonts/roboto/Roboto-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto/Roboto-Bold.woff2") format("woff2"), url("../fonts/roboto/Roboto-Bold.woff") format("woff"), url("../fonts/roboto/Roboto-Bold.ttf") format("truetype");
  font-weight: 700;
}

@font-face {
	font-family: "Convergence";
	src: url("../fonts/convergence-regular-webfont.svg#Convergence") format("svg"),
	url("../fonts/convergence-regular-webfont.woff") format("woff"),
	url("../fonts/convergence-regular-webfont.woff2") format("woff2");
}

@keyframes rippleDrop {
  100% {
    transform: scale(2);
    opacity: 0;
  }
}

html,body
{
	font-family: "Roboto", sans-serif;
	background-color: #E7E7E7;
	font-weight: 400;
}
a,a:hover,a:active,a:focus,a:after
{
	color: white;
	text-decoration: none;
}
body>div
{
	overflow: hidden;
}

*{
	text-decoration: none;
}
* {
  -webkit-box-sizing: border-box;
	 -moz-box-sizing: border-box;
		  box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
	 -moz-box-sizing: border-box;
		  box-sizing: border-box;
}


/*text styles*/

.light {
  font-weight: 200;
}

.semilight {
  font-weight: 300;
}

.semibold
{
	font-weight: 500;
}

.bold {
  font-weight: 700;
}
.h1,h1{
	font-size: 32px
}
.h2,h2{
	font-size: 28px;
}
.h3,h3{
	font-size: 24px;
}
.h4,h4{
	font-size: 20px;
}
.h5,h5{
	font-size: 17px;
}
.h6,h6{
	font-size: 14px;
}
p,.p
{
	font-size: 18px;
}
i,.i
{
	font-style: italic;
}
h2,h3,h4,h5,h6,.h2,.h3,.h4,.h5,.h6
{
	font-weight: 300;
}
ul {
  list-style-type: none;
}
blockquote,.quote,.blockquote
{
	font-family: "Convergence" ,sans-serif;
	padding:  30px !important;
}

/*text styles ends */



/*main area*/

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
	width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
	width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
	width: 1200px;
  }
}

.align-center{ text-align:center !important; }
.align-left{ text-align:left !important;}
.align-right{ text-align:right !important; }
.left{float:left !important;}
.right{float:right !important;}
.hidden{display:none;}
.inline-block{display:inline-block;}


/*nav bar*/

.mt-nav
{
	width: 100% !important;
	position: fixed !important;
	top:0px !important;
	overflow: hidden !important;
	z-index: 92 !important;
	height: 60px !important;
	box-shadow: 0px 2px 5px rgba(0,0,0,.5);

}
.mt-nav:hover,
.mt-nav:active,
.mt-nav:focus
{
	box-shadow: 0px 2px 9px #000;
	-webkit-transition: all .2s ease-in-out;
	   -o-transition: all .2s ease-in-out;
		  transition: all .2s ease-in-out;
}

.mt-nav
{
	width: 100% !important;
	top:0px;
	overflow: hidden !important;
	z-index: 92 !important;
	height: 60px !important;
	box-shadow: 0px 2px 5px rgba(0,0,0,.5);

}
.mt-nav-fixed-top
{
	position: fixed !important;
	top:0px !important;
}
.mt-nav-fixed-bottom
{
	position: fixed !important;
	bottom: 0px !important;
}
.mt-nav-top
{
	top:0px !important;
}
.mt-nav-bottom
{
	bottom:0px !important;
}


.navbar-brand
{
	overflow: hidden;
	float: left;
	height: 50px;
	padding: 15px 15px;
	cursor: pointer;
	font-size: 21px;
	margin: 5px;
}
.navbar-brand:hover,
.navbar-brand:active,
.navbar-brand:focus
{
	text-decoration: none;
}
.sidebar
{
	text-decoration: none;
	width: 300px;
	height: 100%;
	top: 0;
	overflow: hidden;
	font-size: 30px;
	position: fixed;
	box-shadow: 2px 0px 30px rgba(0,0,0,.5);
	-webkit-transition: all .2s cubic-bezier(0.79,-0.04, 0.33, 1.01);
	   -o-transition: all .2s cubic-bezier(0.79,-0.04, 0.33, 1.01);
		  transition: all .2s cubic-bezier(0.79,-0.04, 0.33, 1.01);
}
.sidebar > ul > li
{
	text-decoration: none;
	padding: 10px;
}
.slid_menu_top
{
	height: 100%;
}

/*footer*/

footer,.footer
{
	background-color: #282828;
	width: 100%;
	color: white;
	padding: 20px;
	padding-left: 100px;
	padding-right: 100px;
}
.footer-fixed
{
	bottom:0px !important;
	position: fixed !important;
	z-index: 8;
	box-shadow: -2px 0px 5px rgba(0,0,0,.7);
}

/*dividers*/


.divider
{
	background-color: transparent;
	color: transparent;
	height: 72px;
}

.divider-50
{
	height: 50px
}
.divider-100
{
	height: 100px
}
.divider-150
{
	height: 150px
}
.divider-200
{
	height: 200px
}


/*divs*/

.mt-div
{
	overflow: hidden;
	margin-bottom: 20px;
	padding:19px;
	z-index: 5;
	position: relative;
	color: black;
	background-color: white;
	border-radius: 4px;
}
.mt-div-lg
{
	padding:40px;
	font-size: 20px;
	border-radius: 9px;
}
.mt-div-sm
{
	padding:10px;
	font-size: 16px;
	border-radius: 3px;
}


.mt-div-0
{
	box-shadow: 1px 1px 2px rgba(0,0,0,.3);
}
.mt-div-1
{
	box-shadow: 2px 2px 2px rgba(0,0,0,.3);
}
.mt-div-2
{
	box-shadow: 4px 4px 4px rgba(0,0,0,.3);
}
.mt-div-3
{
	box-shadow: 6px 6px 6px rgba(0,0,0,.3);
}


.btn,.btn-dark {
	display: inline-block;
	padding-left: 30px;
	padding-right: 30px;
	min-width: 100px;
	margin-bottom: 0;
	font-size: 18px;
	font-weight: normal;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 3px;
}
.btn>span
{
	cursor: pointer;
}

.float-btn{
	min-width: 0;	
	bottom: 40px;
	right:40px;
	vertical-align: middle;
	font-size: 50px;
	border-radius: 200px;
	height: 90px;
	min-width: 90px;
	white-space: nowrap;
	vertical-align: middle;
	text-align: center;
	cursor: pointer;
	overflow: hidden;
	position: fixed;
	padding:10px;
	z-index: 50;
	box-shadow: 0px 2px 5px rgba(0,0,0,.3);
}
.float-btn:hover,
.float-btn:active,
.float-btn:focus
{
	box-shadow: 0px 5px 7px rgba(0,0,0,.5);
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}

/*ripple effect*/
.wave,.wave-dark
{
	cursor: pointer;
}

.ripple {
  width: 0;
  height: 0;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.4);
  transform: scale(0);
  position: absolute;
  opacity: 1;
}
.rippleEffect {
    animation: rippleDrop .6s linear;
}
.ripple-dark {
  width: 0;
  height: 0;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.3);
  transform: scale(0);
  position: absolute;
  opacity: 1;
}

/*test cases*/
